/* styles.css */

:root{
    --primary-font: 'Roboto', sans-serif;
    --background-color: #dde2c7;
}

body {
    font-family: var(--primary-font);
    margin: 0 25% 0 25%;
    background-color: var(--background-color);
}

.header{
    font-size: 25px;
    font-family: var(--primary-font);
}

.subheading1{
    font-size: 20px;
    font-family: var(--primary-font);
}

.subheading2{
    font-size: 15px;
    font-family: var(--primary-font);
}

p{
    font-size: 18px;
    font-family: var(--primary-font);
}

.photo-container {
    width: 100%; /* Take full width of the parent (body) */
    overflow: hidden; /* Prevents image from overflowing */
}


.photo-container img {
    width: 100%; /* Image takes full width of container */
    display: block; /* Prevents a small space below the image */
    height: auto; /* Maintains aspect ratio */
    border-radius: 20px;
    padding-bottom: 20px;
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 30vh; /* Ensure container takes up full viewport height */
    gap: 10px; /* Space between boxes */
    padding: 20px;
  }
  
  .box {
    width: 200px; /* Fixed width for larger screens */
    height: 150px; /* Fixed height */
    border-radius: 10px; /* Optional: Rounded corners */
    display: flex; /* So that the content inside the box can be centered */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 2em;
    color: white; /* Text color */
  }
  
  .box1 { background-color: #3b2218; } /* Brown */
  .box2 { background-color: #7f857d; } /* Grey */
  .box3 { background-color: #60572e; } /* Olive Green */
  .box4 { background-color: #000000; } /* Light Grey */
  
  footer {
    padding: 20px; /* Example padding */
    text-align: center; /* Example text alignment */
  }
  
  footer p {
    font-size: 0.8em; /* Adjust this value to control the size */
    margin: 0; /* Remove default paragraph margins if needed */
  }


@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    body {
        font-family: var(--primary-font);
        margin: 0 10% 0 10%;
        background-color: var(--background-color);
    }

}

@media (min-width: 577px) and (max-width: 992px) {
    body {
        font-size: 16px;
        margin: 0 10% 0 10%;
    }

    .container {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center; /* Center horizontally on smaller screens */
      }
    
      .box {
        width: 90%; /* Boxes take up most of the screen width */
        margin-bottom: 10px; /* Space between stacked boxes */
      }
    
}

@media (min-width: 993px) {
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
        padding: 30px;
    }
}